.gitconfig
.sublime/Packages/User/Package Control.cache/**
.sublime/Packages/User/Package Control.last-run
.sublime/Packages/zzz A File Icon zzz/patches/general/multi/Default.sublime-theme
*.crt
.latexcache/
