<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>041A351B-5335-46DA-A13F-04060ABDA307</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>r</string>
			<key>text</key>
			<string>r</string>
			<key>url</key>
			<string>https://github.com/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2513F9FB-4E22-49DB-A6F3-8F7A458733FF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>st</string>
			<key>text</key>
			<string>stafftools (user)</string>
			<key>url</key>
			<string>https://admin.github.com/stafftools/users/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>587708A5-0877-4D1C-97FE-089445CF8129</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>b</string>
			<key>text</key>
			<string>branch</string>
			<key>url</key>
			<string>https://github.com/github/github/compare/{query}?expand=1</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8B06B23D-9966-4AE0-8D78-9C346B3D7511</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>se</string>
			<key>text</key>
			<string>Stafftools (email)</string>
			<key>url</key>
			<string>https://admin.github.com/stafftools/search?utf8=%E2%9C%93&amp;query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>93B7EE70-AE07-40ED-9873-44CB269A0F05</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>p</string>
			<key>text</key>
			<string>pulls</string>
			<key>url</key>
			<string>https://github.com/github/{query}/pulls?utf8=%E2%9C%93&amp;q=is%3Aopen+is%3Apr+author%3Aoreoshake+-label%3Astale+sort%3Aupdated-desc</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A03F62F7-6220-4A02-BD28-DFDE72C8D145</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>g</string>
			<key>text</key>
			<string>gh repo</string>
			<key>url</key>
			<string>https://github.com/github/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B1DA5EF4-6397-46F5-9901-D64617831CE1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>o</string>
			<key>text</key>
			<string>opp</string>
			<key>url</key>
			<string>https://github.com/github/github/pulls/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D3A37424-3903-41D7-A489-0253363BF1F0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>i</string>
			<key>text</key>
			<string>i</string>
			<key>url</key>
			<string>https://github.com/github/{query}/issues/created_by/fletchto99</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
